*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}



header{
  background-color: aquamarine;
  text-align: center;
  padding: 10px 0px;
}

header h1 {
  margin: 0px;
}
/* nav css */

nav ul{
  margin: 0px;
  padding:0px;
  list-style-type: none;
}

nav ul li a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    text-decoration: none;
    background-color: brown;
}

nav ul li:hover a {
  background-color: blueviolet;
}

.products{
  padding: 10px;
}

.product-box{
  margin: 10px 0px;
}
.product-box img{
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-details *{
  padding: 10px;
}
.product{
  border: 1px solid black;
  border-radius: 10px;
}




/* medium device */


@media (min-width: 768px){

  header{
    font-size: 0px;
    text-align: left;
  }

  header h1{
    font-size: 16px;
    width:50%;
  }

  header > div {
    font-size: 16px;
    width: 50%;
    text-align:right;
  }

  header > *{
    display: inline-block;
  }

  nav ul li{
    width: 33.33%;
    float: left;
  }
  .products{
    clear: both;
  }
  .product-box{
    width: 50%;
    float:left;
  }
  .product{
    margin: 0px 10px;
  }
}




/* large device */

@media (min-width: 1200px) {
  .product-box{
    width: 33.33%;
  }
  .products{
    width: 80%;
    margin: auto;
  }
}



/* extralarge device */

@media (min-width: 1400px) {
  .product-box{
    width: 24.33%;
  }

  .products{
    width: 80%;
    margin: auto;
  }
 
}






